* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_5 {
  width: 100%;
  height: 5814px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_28 {
  width: 100%;
  height: 729px;
  background: rgba(240,249,255,1);
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 0px;
  overflow: hidden;
}
.v16_26 {
  width: 100%;
  height: 700px;
  background: url("../images/v16_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_48 {
  width: 100%;
  height: 874px;
  background: rgba(255,240,221,1);
  opacity: 1;
  position: absolute;
  top: 3474px;
  left: 0px;
  overflow: hidden;
}
.v16_91 {
  width: 100%;
  height: 481px;
  background: url("../images/v16_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5333px;
  left: 0px;
  overflow: hidden;
}
.v16_92 {
  width: 100%;
  height: 481px;
  background: rgba(35,35,35,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_93 {
  width: 132px;
  height: 214px;
  background: url("../images/v16_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1229px;
  overflow: hidden;
}
.v16_94 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v16_95 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 64px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_96 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_97 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_98 {
  width: 243px;
  height: 334px;
  background: url("../images/v16_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 860px;
  overflow: hidden;
}
.v16_99 {
  width: 182px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v16_100 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 64px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_101 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_102 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_103 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 244px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_104 {
  width: 178px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 304px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_105 {
  width: 520px;
  height: 199px;
  background: url("../images/v16_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 62px;
  overflow: hidden;
}
.v16_106 {
  width: 421px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v16_107 {
  width: 520px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_108 {
  width: 520px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_86 {
  width: 100%;
  height: 150px;
  background: url("../images/v16_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5046px;
  left: 60px;
  overflow: hidden;
}
.v16_87 {
  width: 100%;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v16_88 {
  width: 221px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 109px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_89 {
  width: 151px;
  color: rgba(0,163,255,1);
  position: absolute;
  top: 109px;
  left: 551px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v16_59 {
  width: 100%;
  height: 289px;
  background: url("../images/v16_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4607px;
  left: 70px;
  overflow: hidden;
}
.v16_60 {
  width: 100%;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v16_61 {
  width: 188px;
  height: 180px;
  background: url("../images/v16_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v16_62 {
  width: 188px;
  height: 180px;
  background: rgba(225,48,108,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_63 {
  width: 83px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 52px;
  overflow: hidden;
}
.v16_64 {
  width: 76px;
  height: 73px;
  background: url("../images/v16_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v16_65 {
  width: 76px;
  height: 73px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_66 {
  width: 188px;
  height: 180px;
  background: rgba(29,161,242,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 292px;
  overflow: hidden;
}
.v16_67 {
  width: 83px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 345px;
  overflow: hidden;
}
.v16_68 {
  width: 79px;
  height: 61px;
  background: url("../images/v16_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 3px;
  overflow: hidden;
}
.v16_69 {
  width: 79px;
  height: 61px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_70 {
  width: 188px;
  height: 180px;
  background: rgba(40,103,178,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 1171px;
  overflow: hidden;
}
.v16_71 {
  width: 76px;
  height: 73px;
  background: url("../images/v16_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 1227px;
  overflow: hidden;
}
.v16_72 {
  width: 76px;
  height: 73px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_73 {
  width: 188px;
  height: 180px;
  background: rgba(74,201,89,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 878px;
  overflow: hidden;
}
.v16_74 {
  width: 83px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 931px;
  overflow: hidden;
}
.v16_75 {
  width: 83px;
  height: 80px;
  background: url("../images/v16_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_76 {
  width: 83px;
  height: 80px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_77 {
  width: 188px;
  height: 180px;
  background: rgba(0,128,251,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 585px;
  overflow: hidden;
}
.v16_78 {
  width: 83px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 638px;
  overflow: hidden;
}
.v16_79 {
  width: 83px;
  height: 80px;
  background: url("../images/v16_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_80 {
  width: 83px;
  height: 80px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_49 {
  width: 100%;
  height: 819px;
  background: url("../images/v16_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3638px;
  left: 70px;
  overflow: hidden;
}
.v16_50 {
  width: 100%;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_51 {
  width: 100%;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 169px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_52 {
  width: 521px;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 639px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_53 {
  width: 141px;
  color: url("../images/v16_53.png");
  position: absolute;
  top: 789px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_54 {
  width: 141px;
  color: url("../images/v16_54.png");
  position: absolute;
  top: 789px;
  left: 838px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_55 {
  width: 521px;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 639px;
  left: 838px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_56 {
  width: 394px;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v16_57 {
  width: 521px;
  height: 350px;
  background: url("../images/v16_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 0px;
  overflow: hidden;
}
.v16_58 {
  width: 521px;
  height: 350px;
  background: url("../images/v16_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 833px;
  overflow: hidden;
}
.v16_29 {
  width: 100%;
  height: 700px;
  background: url("../images/v16_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2788px;
  left: 0px;
  overflow: hidden;
}
.v16_30 {
  width: 100%;
  height: 700px;
  background: url("../images/v16_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v102_2 {
  width: 100%;
  height: 700px;
  background: rgba(0,0,0,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_31 {
  width: 100%;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 298px;
  left: 171px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v16_32 {
  width: 150px;
  color: rgba(0,163,255,1);
  position: absolute;
  top: 451px;
  left: 681px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v16_33 {
  width: 100%;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 219px;
  left: 171px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v16_34 {
  width: 100%;
  height: 938px;
  background: url("../images/v16_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1700px;
  left: 70px;
  overflow: hidden;
}
.v16_35 {
  width: 100%;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v16_36 {
  width: 100%;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 128px;
  left: 55px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v16_37 {
  width: 87px;
  color: url("../images/v16_37.png");
  position: absolute;
  top: 908px;
  left: 642px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v16_38 {
  width: 100%;
  height: 570px;
  background: url("../images/v16_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 0px;
  overflow: hidden;
}
.v16_39 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_40 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 366px;
  overflow: hidden;
}
.v16_41 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 733px;
  overflow: hidden;
}
.v16_42 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1100px;
  overflow: hidden;
}
.v16_43 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 0px;
  overflow: hidden;
}
.v16_44 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 366px;
  overflow: hidden;
}
.v16_45 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 733px;
  overflow: hidden;
}
.v16_46 {
  width: 259px;
  height: 270px;
  background: url("../images/v16_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 1100px;
  overflow: hidden;
}
.v89_2 {
  width: 205px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 388px;
  left: 27px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_3 {
  width: 169px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 388px;
  left: 412px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_4 {
  width: 145px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 388px;
  left: 790px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_5 {
  width: 182px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 388px;
  left: 1138px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_6 {
  width: 205px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 688px;
  left: 1127px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_7 {
  width: 155px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 688px;
  left: 785px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_8 {
  width: 182px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 688px;
  left: 405px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v89_9 {
  width: 234px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 688px;
  left: 12px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v18_126 {
  width: 900px;
  height: 301px;
  background: url("../images/v18_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 300px;
  overflow: hidden;
}
.v66_258 {
  width: 94px;
  color: rgba(40,96,134,1);
  position: absolute;
  top: 271px;
  left: 403px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v18_127 {
  width: 104px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 0px;
  left: 398px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v18_128 {
  width: 900px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 169px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v18_129 {
  width: 394px;
  color: rgba(243,243,243,1);
  position: absolute;
  top: 60px;
  left: 253px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v18_134 {
  width: 100%;
  height: 349px;
  background: url("../images/v18_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1201px;
  left: 70px;
  overflow: hidden;
}
.v18_135 {
  width: 450px;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 0px;
  left: 909px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v18_136 {
  width: 705px;
  color: url("../images/v18_136.png");
  position: absolute;
  top: 84px;
  left: 654px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v18_137 {
  width: 523px;
  height: 288px;
  background: url("../images/v18_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_130 {
  width: 100%;
  height: 301px;
  background: url("../images/v18_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 70px;
  overflow: hidden;
}
.v18_131 {
  width: 705px;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_132 {
  width: 523px;
  height: 288px;
  background: url("../images/v18_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 836px;
  overflow: hidden;
}
.v18_133 {
  width: 488px;
  color: rgba(35,35,35,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v18_267 {
  width: 50px;
  height: 50px;
  background: url("../images/v18_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 1361px;
  overflow: hidden;
}
.v18_268 {
  width: 50px;
  height: 50px;
  background: rgba(255,249,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v18_269 {
  width: 25px;
  height: 18px;
  background: rgba(40,96,134,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 37px;
  transform: rotate(-180deg);
}
.v18_270 {
  width: 50px;
  height: 50px;
  background: url("../images/v18_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 1361px;
  overflow: hidden;
}
.v18_271 {
  width: 50px;
  height: 50px;
  background: rgba(255,249,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v18_272 {
  width: 37px;
  height: 23px;
  background: url("../images/v18_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 6px;
  overflow: hidden;
}
.v18_273 {
  width: 20px;
  height: 19px;
  background: rgba(225,48,108,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_274 {
  width: 20px;
  height: 20px;
  background: rgba(29,161,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
}
.v18_275 {
  width: 7px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 30px;
  overflow: hidden;
}
.v18_276 {
  width: 6px;
  height: 6px;
  background: url("../images/v18_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_277 {
  width: 6px;
  height: 6px;
  background: rgba(40,96,134,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_110 {
  width: 100%;
  height: 30px;
  background: url("../images/v18_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 70px;
  overflow: hidden;
}
.v18_111 {
  width: 102px;
  height: 30px;
  background: url("../images/v18_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_112 {
  width: 20px;
  height: 14px;
  background: url("../images/v18_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 82px;
  overflow: hidden;
}
.v18_113 {
  width: 20px;
  height: 14px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v18_114 {
  width: 76px;
  color: rgba(243,243,243,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_115 {
  width: 116px;
  height: 30px;
  background: url("../images/v18_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1108px;
  overflow: hidden;
}
.v18_116 {
  width: 89px;
  color: rgba(243,243,243,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_117 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 96px;
  overflow: hidden;
}
.v18_118 {
  width: 20px;
  height: 19px;
  background: url("../images/v18_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_119 {
  width: 20px;
  height: 19px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v18_120 {
  width: 83px;
  height: 30px;
  background: url("../images/v18_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1277px;
  overflow: hidden;
}
.v18_121 {
  width: 56px;
  color: rgba(243,243,243,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_122 {
  width: 20px;
  height: 20px;
  background: url("../images/v18_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 63px;
  overflow: hidden;
}
.v18_123 {
  width: 20px;
  height: 14px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v18_124 {
  width: 3px;
  height: 3px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 5px;
}
.v18_125 {
  width: 3px;
  height: 3px;
  background: rgba(243,243,243,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
}
.v16_109 {
  width: 300px;
  height: 150px;
  background: url("../images/v16_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 600px;
  overflow: hidden;
}
